# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).

.git
.gitignore
node_modules
npm-debug.log
.env
.env.local
*.md
.firebase/
firebase-debug.log
firebase-debug.*.log
Dockerfile.backup

# We need the TypeScript source files for building
#!include:.gitignore


